<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loaded Content by Ajax</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/normalize.css">
</head>

<nav class="nav-bar">
    <a href="../index.html">Home</a>
</nav>

<div class="project-container">
    <div class="project">
        <img src="../images/Packaging - 1.png" alt="Thumbnail 1">
        <h3>Alfaby Baby Diapers</h3>
    </div>


    <div class="project">
        <img src="../images/tulsi.png" alt="Thumbnail 2">
        <h3>Tulsi Tablets</h3>
    </div>


    <div class="project">
        <img src="../images/sahadev.png" alt="Thumbnail 3">
        <h3>Sahadev Branding</h3>
    </div>


    <div class="project">
        <img src="../images/tech-poppins.png" alt="Thumbnail 4">
        <h3>Tech Poppins Logo</h3>
    </div>


    <div class="project">
        <img src="../images/advertisement.png" alt="Thumbnail 5">
        <h3>Freakins Advertisement Banner</h3>
    </div>

    
    <div class="project">
        <img src="../images/tcp.png" alt="Thumbnail 6">
        <h3>Power Strip Design</h3>
    </div>
</div>
